<div class="page-header clearfix">
    <div class="header-left clearfix">
        <div class="header-left-l">
            <a ng-click="headerCtrl.gotoDashboard()">
                <img ng-src="assets/img/logo.png" class="logo">
            </a>
        </div>
        <div class="header-left-r">
            <h1 style="display: inline;">{{headerCtrl.getAppName()}}</h1>
        </div>
    </div>
    <div class="header-right clearfix">
        <div class="header-right-l" ng-click="headerCtrl.openWallet()" ng-hide="headerCtrl.role=='' || headerCtrl.role == undefined ">
            <a>
                <img ng-src="assets/img/user.png">
            </a>
        </div>
        <div class="header-right-r" ng-hide="headerCtrl.role=='' || headerCtrl.role == undefined ">
            <span class="badge badge-notify ">{{headerCtrl.orders.length}}</span>
            <a ng-click="headerCtrl.openNotification()">
                <img src="assets/img/bell.png">
            </a>
        </div>
        <div class="header-right-r" ng-click="headerCtrl.openCart()" ng-hide="headerCtrl.role == 'admin' || headerCtrl.role=='' || headerCtrl.role == undefined ">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            <span class="badge badge-notify ">{{headerCtrl.order.length || 0}}</span>
        </div>
    </div>
</div>