<div class="modal-header">
    <button type="button" class="close" ng-click="editFoodCtrl.cancel()">&times;</button>
    <h4 class="modal-title" id="modal-title">Edit {{editFoodCtrl.foodDuplicate.name}} - added by <strong>{{editFoodCtrl.user}}</strong>
    </h4>
</div>
<div class="modal-body" id="modal-body">
    <form name="foodForm">
        <div class="form-group">
            <label class="food-name">Food Name</label>
            <input type="text" name="foodName" placeholder="Food Name" ng-model="editFoodCtrl.foodDuplicate.name"
                   class="form-control"
                   required>
            <p ng-show="foodForm.foodName.$error.required" style="color: red;">Food name is Required.</p>
        </div>
        <div class="form-group">
            <label>Restaurant Name</label>
            <select class="form-control" name="restaurantName" ng-model="editFoodCtrl.foodDuplicate.restaurant"
                    required>
                <option ng-repeat="restaurant in editFoodCtrl.restaurantDuplicate">{{restaurant.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label>Food Price</label>
            <input type="text" name="price" placeholder="Food Price" ng-model="editFoodCtrl.foodDuplicate.price"
                   class="form-control">
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary pull-left" id="add-restaurant" type="button"
            ng-click="editFoodCtrl.ok(editFoodCtrl.foodDuplicate)">Edit Food
    </button>
    <button class="btn btn-danger pull-right" type="button"
            ng-click="editFoodCtrl.deleteFood(editFoodCtrl.foodDuplicate)">Delete Food
    </button>
</div>
