
<table class="table table-condensed table-hover table-striped table-bordered ">
    <caption>
        <a ui-sref="dashboard">Go Back</a>
        <h3>Order History</h3>
    </caption>
    <thead>
    <tr>
        <th>S/N</th>
        <th>Restaurant</th>
        <th>Food</th>
        <th>Price</th>
        <th>Quantity</th>
    </tr>
    </thead>
    <tbody>

    <tr ng-show="orderCtrl.items == '' ||orderCtrl.items.length == 0">
        <td colspan="6" style="text-align: center; color: red;"> <strong>No Orders made yet.</strong>
        </td>
    </tr>
    <tr ng-repeat="item in orderCtrl.items">
        <td>{{$index+1}}</td>
        <td>{{item.restaurant.name}}</td>
        <td>{{item.name}}</td>
        <td>{{item.price}}</td>
        <td>{{item.quantity}}</td>
    </tr>
    </tbody>
    <tr ng-show="orderCtrl.items.length > 0">
        <td>Total Amount</td>
        <td>{{orderCtrl.total}}</td>
    </tr>
</table>
