<a ui-sref="dashboard">Go Back</a>
<button ng-hide="orderHistoryCtrl.items == '' ||orderHistoryCtrl.items.length == 0"
        class="btn btn-default btn-sm pull-right" ng-click="orderHistoryCtrl.printBillReceipt('printSectionId')">Print
</button>

<div ng-show="orderHistoryCtrl.items == '' || orderHistoryCtrl.items.length == 0">
    <h1 style="text-align: center; color: red;">No Orders made yet.
    </h1>
</div>

<div id="printSectionId" ng-hide="orderHistoryCtrl.items == '' ||orderHistoryCtrl.items.length == 0">
    <table class="table table-condensed table-hover table-striped table-bordered">
        <caption>
            <div style="text-align: center; margin-left: 41%; position: absolute;"><h3><u>Bill Receipt</u></h3></div>
            <b><p>Customer: {{orderHistoryCtrl.fullName | uppercase}}</p>
                <p class="pull-right">Date: {{orderHistoryCtrl.todayDate | date}} </p>
                <p>Address: {{orderHistoryCtrl.address | uppercase}}</p>
                <p>Contact: {{orderHistoryCtrl.contact}}</p></b>
        </caption>
        <thead>

        <tr>
            <th>S/N</th>
            <th>Restaurant</th>
            <th>Food</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Sub Total</th>
        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="item in orderHistoryCtrl.items">
            <td>{{$index+1}}</td>
            <td>{{item.restaurantName}}</td>
            <td>{{item.name}}</td>
            <td>{{item.price}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.price * item.quantity}}</td>
        </tr>
        <tr>
            <td colspan="5" style="text-align: center; color: darkgreen;"><strong>Total Amount</strong></td>
            <td><strong style="text-align: center; color: darkgreen;">{{orderHistoryCtrl.total}}</strong></td>
        </tr>
        </tbody>
    </table>
</div>