<div class="modal-header" style="border-bottom: none; padding-bottom: 0;">
    <button type="button" class="close" ng-click="cartCtrl.modalCancel()">&times;</button>
    <h3>{{cartCtrl.order.name | uppercase}}</h3>
    <h3 style="color: #696969">Rs. {{cartCtrl.order.price}}</h3>
</div>
<!--<div class="modal-body">-->
    <!--<div class="form-group">-->
        <!--<label for="comment">SPECIAL INSTRUCTIONS</label>-->
        <!--<textarea placeholder="Add Notes" class="form-control" rows="4" id="comment"></textarea>-->
    <!--</div>-->
<!--</div>-->
<div class="modal-footer" style="border: none;">
    <div class="pull-left">
        <button ng-disabled="cartCtrl.count <= 1" class="btn btn-sm" ng-click="cartCtrl.decreaseOrder()">
            <span class="glyphicon glyphicon-minus"></span>
        </button>
        <label style="padding: 4px 10px; margin-bottom: 0; ">{{cartCtrl.count}}</label>
        <button ng-disabled="cartCtrl.count >= 5" class="btn btn-sm" ng-click="cartCtrl.increaseOrder()">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
    </div>
    <button style="width: 200px;" class="btn btn-primary" ng-click="cartCtrl.addToCart()"><span
            style="margin-right: 30px;">ADD TO CART</span><span
            style="margin-right: 30px;">Rs. {{cartCtrl.amount}}</span>
    </button>
</div>