<div style="text-align: center"><h3><u>{{restaurantCtrl.restaurant.name}}</u></h3></div><br/>
<div ng-show="restaurantCtrl.role =='admin'">
    <a class="btn btn-default btn-sm button-name" ng-click="restaurantCtrl.addFood()"
       ng-show="restaurantCtrl.role == 'admin'">Add
        Food</a>

    <div class="switch pull-right">
        <input id="cmn-toggle-4" class="cmn-toggle cmn-toggle-round-flat" type="checkbox"
               ng-model="restaurantCtrl.status"
               ng-change="restaurantCtrl.restaurantStatus(restaurantCtrl.restaurant.id, restaurantCtrl.status)">
        <label for="cmn-toggle-4"></label>
    </div>
    <br/><br/>
    <div ng-show="restaurantCtrl.role =='admin'" class="row">
        <div class="col-md-8">
            <table class="table table-condensed table-hover table-striped table-bordered ">
                <caption ng-hide="restaurantCtrl.role == 'admin'">
                    <h3>Order</h3>
                </caption>
                <thead>
                <tr>
                    <th>S/N</th>
                    <th>Food</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>

                <tr ng-show="restaurantCtrl.foods == '' || restaurantCtrl.foods.length == 0">
                    <td colspan="6" style="text-align: center; color: red;"><strong>No Food Added.</strong>
                    </td>
                </tr>

                <tr ng-repeat="food in restaurantCtrl.foods">
                    <td>{{$index + 1}}</td>
                    <td>{{food.name}}</td>
                    <td>{{food.price}}</td>
                    <td>
                        <a class="btn btn-default btn-sm" ng-click="restaurantCtrl.editFood(food)"><span
                                class="glyphicon glyphicon-pencil"></span>Edit</a>
                        <a class="btn btn-default btn-sm" ng-click="restaurantCtrl.deleteFood(food)"><span
                                class="glyphicon glyphicon-trash"></span>Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <table class="table table-condensed table-hover table-striped table-bordered "
                   ng-hide="restaurantCtrl.addFoods.length<=0">
                <thead>
                <tr>
                    <th>Food</th>
                    <th>Price</th>
                    <th>Restaurant</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="food in restaurantCtrl.addFoods">
                    <td>{{food.name}}</td>
                    <td>{{food.price}}</td>
                    <td>{{food.restaurantName}}</td>
                    <td ng-click="restaurantCtrl.deleteFoodToAdd(food)">
                        <a><span class="glyphicon glyphicon-remove"></span> </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <button class="btn btn-default btn-sm" ng-click="restaurantCtrl.confirmAdd()"
                    ng-hide="restaurantCtrl.addFoods.length<=0">Confirm
            </button>
        </div>
    </div>
</div>

<div ng-hide="restaurantCtrl.role =='admin'" class="row">
    <table class="table table-condensed table-hover table-striped table-bordered ">

        <thead>
        <tr>
            <th>S/N</th>
            <th>Food</th>
            <th>Price</th>
            <th>Select</th>
        </tr>
        </thead>
        <tbody>


        <tr ng-show="restaurantCtrl.foods == '' || restaurantCtrl.foods.length == 0">
            <td colspan="6" style="text-align: center; color: red;"><strong>No Food Added.</strong>
            </td>
        </tr>

        <tr ng-repeat="food in restaurantCtrl.foods">
            <td>{{$index + 1}}</td>
            <td>{{food.name}}</td>
            <td>{{food.price}}</td>
            <td ng-click="restaurantCtrl.addOrder(food, restaurantCtrl.restaurant.name)">
                <button class="btn btn-sm">Add to Cart</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<a ui-sref="dashboard">Go Back</a>
