<h1><u>{{restaurant.restaurant}}</u></h1>
<a class="btn btn-default btn-sm" ng-click="restaurant.addFood()" ng-show="restaurant.role == 'admin'">Add
    Food</a>
<!--<div class="row">-->
    <!--<ul class="list-group">-->
        <!--<li class="list-group-item" ng-repeat="food in restaurant.foods  track by $index">-->
            <!--<a>{{food.name}}</a>-->
        <!--</li>-->
    <!--</ul>-->
<!--</div>-->

<table class="table table-condensed table-hover table-striped table-bordered ">
    <caption>
        <a ui-sref="dashboard">Go Back</a>
        <h3 ng-hide="restaurant.role == 'admin'">Confirm Order</h3>
    </caption>
    <thead>
    <tr>
        <th>S/N</th>
        <th>Food</th>
        <th>Price</th>
        <!--<th ng-show="restaurant.role == 'admin'">Remove</th>-->
    </tr>
    </thead>
    <tbody>
    <tr ng-show="">
        <td colspan="6" style="text-align: center; color: red;"> <strong>{{}}</strong>
        </td>
    </tr>
    <tr ng-repeat="food in restaurant.foods  track by $index" ng-click="restaurant.editFood(food.id)">
        <td>{{$index + 1}}</td>
        <td>{{food.name}}</td>
        <td>{{food.price}}</td>
        <!--<td ng-show="restaurant.role == 'admin'"><button><span class="glyphicon glyphicon-remove"></span> </button> </td>-->
    </tr>
    </tbody>

</table>
<button ng-click="dashboardCtrl.placeOrder()" class="btn btn-primary" ng-hide="restaurant.role == 'admin'" ng-disabled="">Confirm</button>