<h1><u>{{restaurant.restaurant}}</u></h1>
<a class="btn btn-default btn-sm" ng-click="restaurant.addFood()" ng-show="restaurant.role == 'admin'">Add Food</a>
<a ui-sref="dashboard">Go Back</a>
<h3 ng-hide="restaurant.role == 'admin'">Confirm Order</h3>
<div class="row">
    <div class="col-md-9">
        <table class="table table-condensed table-hover table-striped table-bordered ">
            <thead>
            <tr>
                <th>S/N</th>
                <th>Food</th>
                <th>Price</th>

                <th ng-hide="restaurant.role == 'admin'">Select</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-show="">
                <td colspan="6" style="text-align: center; color: red;"> <strong>{{}}</strong>
                </td>
            </tr>
            <tr ng-repeat="food in restaurant.foods  track by $index" ng-click="restaurant.editFood(food.id)">
                <td>{{$index + 1}}</td>
                <td>{{food.name}}</td>
                <td>{{food.price}}</td>
                <td ng-hide="restaurant.role == 'admin'">
                    <!--<input type="checkbox" ng-model="restaurant.select[$index]"  ng-change="restaurant.selectFood(restaurant.select[$index],$index,food)">-->
                    <a  ng-click="restaurant.selectFood($index,food)"><span class="glyphicon glyphicon-plus-sign" ></span> </a>
                </td>
            </tr>
            </tbody>

        </table>
    </div>
    <div class="col-md-3">
        <table class="table table-condensed table-hover table-striped table-bordered ">
            <thead>
                <tr>
                    <th>Order</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="food in restaurant.order">
                    <td>{{food.name}}</td>
                    <td>
                        <a ng-click="restaurant.removeFood(food)"><span class="glyphicon glyphicon-remove"></span></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <button ng-click="restaurant.placeOrder()" class="btn btn-primary" ng-hide="restaurant.role == 'admin'" ng-disabled="">Payment</button>
    </div>
</div>