<a class="btn btn-default btn-sm" ng-click="dashboardCtrl.addRestaurant()" ng-hide="dashboardCtrl.role==='user'">Add
    Restaurant</a>
<a class="btn btn-default btn-sm" ng-click="dashboardCtrl.getAllUsers()" ng-hide="dashboardCtrl.role==='user'">View All Users</a>
<br/>
<br/>
<div id="alertMessage" ng-show="dashboardCtrl.message" class="alert alert-success alert-msg alert-dismissible fade in"
     role="alert"><a class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>{{dashboardCtrl.message}}</strong>
</div>
<div class="row restaurant-dashboard">
    <div class="col-md-4 restaurant" ng-hide="restaurant.active===false && dashboardCtrl.role==='user'"
         ng-repeat="restaurant in dashboardCtrl.restaurants">
        <a ui-sref="restaurant({restaurant})">
            <div class="restaurant-card">
                <h3 class="rest">{{restaurant.name}}</h3>
                <h4>{{restaurant.contact}}</h4>
            </div>
        </a>
        <br/>
        <button class="btn btn-success btn-sm" ng-click="dashboardCtrl.editRestaurant(restaurant)"
                ng-hide="dashboardCtrl.role==='user'">Edit Restaurant
        </button>
        <button class="btn btn-danger btn-sm" ng-click="dashboardCtrl.deleteRestaurant(restaurant)"
                ng-hide="dashboardCtrl.role==='user'">Delete Restaurant
        </button>
    </div>
</div>
<div class="page-center">
    <ul uib-pagination total-items="dashboardCtrl.totalRestaurants" ng-model="dashboardCtrl.currentPage" max-size="" class="pagination-sm" boundary-link-numbers="true" items-per-page="{{6}}" ng-click="dashboardCtrl.selectPage()"></ul>
</div>