<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <a   ui-sref="login">Login</a>
                        </div>
                        <div class="col-xs-6">
                            <a  class="active" >Register</a>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">

                            <form name="registerForm" role="form" class="register">
                                <div class="row">
                                    <div class="col-md-1 form-group"><label><h4>Name</h4></label></div>
                                    <div class="form-group col-md-4">
                                        <input type="text"  tabindex="1" class="form-control" placeholder="First Name" ng-model="registerCtrl.user.firstName" required>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <input type="text"  tabindex="1" class="form-control" placeholder="Middle Name" ng-model="registerCtrl.user.middleName">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <input type="text"  tabindex="1" class="form-control" placeholder="Last Name" ng-model="registerCtrl.user.lastName" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-1 form-group"><label><h4>Email</h4></label></div>
                                    <div class="form-group col-md-5">
                                        <p ng-show="registerForm.emailId.$invalid && registerForm.emailId.$touched" class="help-block"
                                           style="color: red;">{{registerCtrl.emailMsg}}</p>
                                        <p class="help-block" style="color: red" ng-show="registerForm.emailId.$error.email">
                                            {{registerCtrl.invalidEmailMsg}}</p>
                                        <input name="emailId" type="email" tabindex="1" class="form-control" placeholder="Email Address" ng-model="registerCtrl.user.email" required>
                                    </div>
                                    <div class="col-md-1 form-group"><label><h4>Phone</h4></label></div>
                                    <div class="form-group col-md-5">
                                        <input type="text" name="contactNumber" tabindex="1" class="form-control" placeholder="Contact No." ng-model="registerCtrl.user.contactNo"  ng-pattern="/^[0-9]*$/" required>
                                        <p ng-show="registerForm.contactNumber.$invalid && registerForm.contactNumber.$touched" class="help-block" style="color: red;">
                                            {{registerCtrl.contactNumMsg}}
                                        </p>
                                        <p class="help-block" style="color: red;" ng-show="registerForm.contactNumber.$error.pattern">Accepts Numbers Only.</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-1 form-group"><label><h4>Address</h4></label></div>
                                    <div class="form-group col-md-11">
                                        <input type="text" tabindex="1" name="address" class="form-control" placeholder="Address" ng-model="registerCtrl.user.address" required>
                                    </div>
                                    <p ng-show="registerForm.address.$invalid && registerForm.address.$touched" class="help-block"
                                       style="color: red;">{{registerCtrl.addressMsg}}</p>
                                </div>
                                <div class="row">
                                    <div class="col-md-1 form-group"><label><h4>Password</h4></label></div>
                                    <div class="form-group col-md-5">
                                        <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password" ng-model="registerCtrl.user.userPassword" required>
                                    </div><p ng-show="registerForm.password.$invalid && registerForm.password.$touched" class="help-block"
                                             style="color: red;">{{registerCtrl.passwordMsg}}</p>
                                    <!--<div class="col-md-1 form-group"></div>-->
                                    <div class="col-md-1 form-group"><label><h4>Confirm</h4></label></div>
                                    <div class="form-group col-md-5">
                                        <input type="password" name="confirmPassword" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password" ng-model="registerCtrl.user.confirmPassword" required>
                                    </div>
                                    <p ng-show="registerForm.confirmPassword.$invalid && registerForm.confirmPassword.$touched"
                                       class="help-block"
                                       style="color: red;">{{registerCtrl.confirmPasswordMsg}}</p>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" tabindex="4" ng-click="registerCtrl.registerUser(registerCtrl.user)" class="form-control btn btn-register" value="Register User" ng-disabled="registerForm.$invalid">
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>

</style>