<div class="row ">
    <div ng-hide="orderListCtrl.orderList.length>=1">
    <h2>Customers' orders completed.</h2>
    <h3>Click <a ui-sref="dashboard">here</a> to go back to the dashboard page</h3>
    </div>
    <table ng-show="orderListCtrl.orderList.length>=1" class="table table-condensed table-striped table-bordered ">
        <caption ng-hide="restaurantCtrl.role === 'admin'">
            <h3 class="center">All Order</h3>
        </caption>
        <thead>
        <tr>
            <th>S/N</th>
            <th>User</th>
            <th>Details</th>
            <th ng-show="orderListCtrl.role === 'admin'">Action</th>
            <th ng-show="orderListCtrl.role === 'user'">Status</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="order in orderListCtrl.orderList">
            <td>{{$index+1}}</td>
            <td>{{order.username}}</td>
            <td>
                <span class="order-list center">
                    <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Food</th>
                            <th>Restaurant</th>
                            <th>Price</th>
                            <th>Quantity</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="food in order.foodList">
                     <td>{{food.foodName}}</td>
                     <td>{{food.restaurantName}}</td>
                     <td>{{food.foodPrice | currency:"Rs. "}}</td>
                     <td>{{food.quantity}}</td>
                    </tr>
                </table>
                </span>
            </td>
            <td ng-show="orderListCtrl.role === 'admin'">
                <button class="btn btn-default btn-sm" ng-click="orderListCtrl.receiveOrder(order.orderId)">Receive
                </button>
            </td>
            <td ng-show="orderListCtrl.role === 'user'">
                Status
            </td>
        </tr>
        </tbody>
    </table>
    <div ui-view=""></div>
</div>