<div class="modal-header order-modal-header">
    <button class="close" ng-click="notificationCtrl.closeModal()">&times;</button>
    <div class="modal-title">
        <h4>Orders</h4>
    </div>
</div>
<div class="modal-body order-modal-body">
    <h3 style="margin-top: 0px; text-align: center; color: red;" ng-hide="notificationCtrl.orderList.length>=1">No
        orders made yet</h3>
    <ul class="list-group order-list page-center pointer-cursor" ng-show="notificationCtrl.userRole==='admin'">
        <li ng-repeat="order in notificationCtrl.orderList" class="list-group-item">
            View Order of {{notificationCtrl.name[$index].firstName | uppercase}}
            {{notificationCtrl.name[$index].lastName |
            uppercase}}
        </li>
    </ul>
    <!--<pre>-->

        <!--{{notificationCtrl.orderList | json}}-->

    <!--</pre>-->
    <ul class="list-group order-list page-center" ng-show="notificationCtrl.userRole==='user'">
        <li ng-repeat="order in notificationCtrl.orderList">
            Your order on {{order.orderedDate | date:'yyyy-MM-dd HH:mm:ss'}} has been received.
        </li>
    </ul>
</div>
<div class="modal-footer order-modal-footer center" ng-show="notificationCtrl.userRole==='admin'">
    <a class="pointer-cursor" ng-show="notificationCtrl.orderList.length >= 1"
       ng-click="notificationCtrl.gotoOrder()">
        View all orders
    </a>
</div>