
<div class="modal-header">
    <button type="button" class="close" ng-click="userCtrl.closeModal()">&times;</button>
    <h3 class="modal-title" id="modal-title">Edit User</h3>
</div>
<div class="modal-body" id="modal-body">
    <form>
        <div class="form-group">
            <input type="text" placeholder="First Name" class="form-control">
            <input type="text" placeholder="Middle Name" class="form-control">
            <input type="text" placeholder="Last Name" class="form-control">
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary pull-left" id="add-restaurant" type="button" ng-click="userCtrl.deleteUserConfirm()">Yes
    </button>
    <button class="btn btn-warning pull-left" type="button" ng-click="userCtrl.closeModal()">No</button>
</div>
