<div class="modal-header logout-modal-header">
    <button type="button" class="close" ng-click="orderModalCtrl.modalCancel()">&times;</button>
    <h3 class="modal-title logout-modal-title" id="modal-title">Confirm</h3>
</div>
<div class="modal-body logout-modal-body" id="modal-body">
    <p>Are you sure you want to confirm the orders ?</p>
</div>
<div class="modal-footer logout-modal-footer">
    <button class="btn btn-primary pull-left" id="add-restaurant" type="button"
            ng-click="orderModalCtrl.orderOk()">Yes
    </button>
    <button class="btn btn-warning pull-left" type="button" ng-click="orderModalCtrl.modalCancel()">No</button>
</div>